* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #f7f9fc;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container {
	text-align: center;
	width: 100%;
	padding: 1.2rem;
}

h1 {
	color: #333;
	margin-bottom: 20px;
	font-size: 2rem;
}

.board {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	gap: 20px;
}
.list {
	background-color: #e3e4e8;
	padding: 1rem;
	border-radius: 8px;
	width: 30%;
}
